
.expertise-section{
    display: flex;
    column-gap: 4vw;
    row-gap: 12vh;
    flex-wrap: wrap;
    padding-top: 10vh;
	padding-bottom: 4vh;
    background-image: linear-gradient(rgba(255,255,255,0), #4aa7c3);
}

.card{
    position : relative;
	height: 42vh;
	width: 34vw;
	margin : 4vh auto;
	background-color : #FFF;
	-webkit-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 93px 0px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 45px 0px rgba(0,0,0,0.75);
    transition: all 0.5s;
}

.card:hover{
    transform: scale(1.05);
}

.thumbnail{
    float : left;
	position : relative; 
	left : 2.5vw;
	top : -8vh;
	height : 28vh;
	width : 44%;
	z-index: 2;
	overflow: hidden;
    box-shadow: 5px 5px 45px 0px rgba(0,0,0,0.75);
}

.thumbnail img{
    position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.card-desc{
    text-align: left;
    margin: 1vh 2vw 1vh 2.5vw;
}

.card-title{
    position: absolute;
    left: 58%;
}

.card-title h3{
    color:crimson;
}

.card-content{
    position: absolute;
    top: 52%;
}

